<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Demo Test" verbose="1">
    <test name="WebAdmin Sanity">
        <groups>
            <run>
                <exclude name="Update_NewLocation"></exclude>
            </run>
        </groups>
        <classes>
            <class name="LoginPageTest"></class>
        <!--   <class name="LocationsPage"/> -->

                        </classes>
                    </test>
            </suite>
